$link-color: #7F8F94;

.projects {
	position: relative !important;
	background-color: #f1f1f1;

	@include center(0);

	.project-div {
		position: relative !important;
		width: 50%;
		padding: 15px 40px 40px 40px;

		@include center(0);
		@include max-width-lg();
		@include max-width-md();
		@include max-width-mobile();

		h2, p {
			color : black;
		}

		h2 {
			text-align: center;
			text-decoration: underline;
		}

		p {
			text-align: left;
		}

		.container {
			position: relative;

			height: 420px;

			.project-container:nth-child(1) {
				top: 0;
				left: 0;
			}

			.project-container:nth-child(2) {
				top: 0;
				left: 25%;

				&:hover {
					left: 0;
				}
			}

			.project-container:nth-child(3) {
				top: 0;
				left: 50%;

				&:hover {
					left: 0;
				}
			}

			.project-container:nth-child(4) {
				top: 0;
				left: 75%;

				&:hover {
					left: 10%;
				}
			}
		}

		.project-container {
			position: absolute;
			width: 25%;
			z-index: 1;
			display: inline-block;
			@include transition(all 0.3s ease);

			&:hover {
				position: absolute;
				width: 90%;
				z-index: 400;
				cursor: pointer;
			}

			.mobile-title {
				display: none;
			}

			@media screen and (max-width: 480px) {
				.mobile-title {
					display: inline;
				}
			}
			.project {
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				background-color: #f1f1f1;
				opacity: 1;
				max-width: 800px;

				@include transition(all 0.3s ease-in-out);

				// &:hover {
				// 	@include transform(scale(1.05));

				// 	.overlay {
				// 		opacity: 0.05;
				// 	}

				// 	.button-container {
				// 		h3 {
				// 			opacity: 1;
				// 		}
				// 		.project-link {
				// 			opacity: 1;
				// 			@include transition(all 0.5s ease);
				// 		}
				// 	}
				// }

				@media screen and (max-width: 480px) {
					pointer-events: none;
				}

				.overlay {
					height: 400px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					// .project-banner {
					// 	background-size: cover;
					// 	position: relative;
					// 	width: 25%;
					// 	height: 400px;
					// 	height: auto;
					// 	box-sizing: border-box;
					// }

					opacity: 1;
				}

					.button-container {
						@include center(0);

						h3 {
							opacity: 0.05;
							text-align: center;

							@media screen and (max-width: 768px) {
								font-size: 22px;
							}

							@media screen and (max-width: 480px) {
								font-size: 18px;
							}

						}
						.project-link {
							font-family: Arial;
							line-height: 40px;
							font-weight: 900;
							font-size: 20px;
							width: 140px;
							height: 40px;
							text-decoration: none;
							padding: 5px 20px;
							border: 4px solid $link-color;
							text-align: center;
							color: $link-color;
							font-weight: 900;
							opacity: 0;
							letter-spacing: 0.75px;

							@include center(0);
							@include transition(all .3s ease-in-out);

							@media screen and (max-width: 480px) {
								width: 100px;
								height: 30px;
								font-size: 15px;
								line-height: 30px;
								padding: 5px;
							}

							&:after {
								position: absolute;
								content: "";
								top: 0;
								left: 0;
								width: 0%;
								height: 100%;
								z-index: -1;
								background-color: $link-color;
								@include transition(width 0.3s ease);
							}

							&:hover:after, &:focus:after, &:active:after {
								width: 100%;
							}

							&:hover {
								color: #f1f1f1;
							}
						}
					}
				}
			}
	}
}