$link-color: #7F8F94;

.projects {
	position: relative !important;
	background-color: #f1f1f1;

	@include center(0);

	.project-div {
		position: relative !important;
		width: 50%;
		padding: 15px 40px 40px 40px;

		@include center(0);
		@include max-width-lg();
		@include max-width-md();
		@include max-width-mobile();

		h2, p {
			color : black;
		}

		h2 {
			text-align: center;
			text-decoration: underline;
		}

		p {
			text-align: left;
		}

		.container {
			position: relative;

			height: 420px;

			.project-container:nth-child(1) {
				top: 0;
				left: 0;
			}

			.project-container:nth-child(2) {
				top: 0;
				left: 25%;

				&:hover {
					left: 0;

					opacity: 1;
				}
			}

			.project-container:nth-child(3) {
				top: 0;
				left: 50%;

				&:hover {
					left: 0;

					opacity: 1;
				}
			}

			.project-container:nth-child(4) {
				top: 0;
				left: 75%;

				&:hover {
					left: 10%;

					opacity: 1;
				}
			}
		}

		.project-container {
			position: absolute;
			width: 25%;
			z-index: 1;
			display: inline-block;
			@include transition(all 0.3s ease);

			&:hover {
				position: absolute;
				width: 90%;
				z-index: 400;
				cursor: pointer;
			}

			.mobile-title {
				display: none;
			}

			@media screen and (max-width: 480px) {
				.mobile-title {
					display: inline;
				}
			}
			.project {
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				background-color: #f1f1f1;
				opacity: 0.8;
				max-width: 800px;

				@include transition(all 0.3s ease-in-out);

				&:hover { opacity: 1; }

				.overlay {
					height: 400px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}