<div>
	<h2 class="animated fadeIn">About</h2>
	<p class="animated fadeIn">
		Hello! My name is Christopher Singhavong and I'm a software engineer with a
		passion for the front end. I'm fluent in JavaScript and like to stay up to
		date with the latest front end technologies. I've contributed to open source
		projects such as Angular's Material Design. Previously a Frontend Developer at
		<a href="http://www.ludomade.com" target="_blank">Ludomade</a>,
		I'm currently seeking a new opportunity in and around the Southern California
		area. Feel free to contact me, let's geek out!
	</p>
</div>