<!DOCTYPE html>
<html ng-app="chrissing">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">

		<!-- inject:bower:css -->
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
		<!-- endinject -->
	</head>
	<body>
		<div ui-view="banner"></div>
		<!-- inject:bower:js -->
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/bower_components/angular-aria/angular-aria.js"></script>
		<script src="/bower_components/angular-messages/angular-messages.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/bower_components/angular-material/angular-material.js"></script>
		<!-- endinject -->

		<!-- inject:js -->
		<script src="/app/modules/app.js"></script>
		<script src="/app/modules/banner/BannerController.js"></script>
		<!-- endinject -->
	</body>
</html>